<configuration>
                    <system.webServer>
                        <iisnode nodeProcessCommandLine="C:\Program Files (x86)\nodejs\node.exe" 
						loggingEnabled="false" 
						debuggingEnabled="true"  
						promoteServerVars="AUTH_USER,AUTH_TYPE,AUTH_PASSWORD,LOGON_USER"
						/>
                        <!-- indicates that the server.js file is a node.js application
                        to be handled by the iisnode module -->
 
                        <handlers>
                            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
                        </handlers>
 
                        <rewrite>
                            <rules>
                                <rule name="sendToNode">
                                    <match url="/*" />
                                    <action type="Rewrite" url="index.js" />
                               </rule>
                            </rules>
                        </rewrite>
        <httpErrors errorMode="Detailed" />
 
                    </system.webServer>
</configuration>
